body {
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    background-color:rgb(31, 35, 37);
    padding: 0px;
    text-align: center;
}
.hikes{
    position: relative;
}
p{
    text-align: left;
}

header {
    text-align: left;
    color: darkorange;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
blockquote{
    font-style: italic;
    text-align: center;
}
h6 {
    text-align: left;
    font-weight: bold;
    color: rgb(37, 37, 37);
}

small {
    float: right;
}

.main {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    background-color: rgb(145, 145, 145);
}

.main-snow{
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 0%;
    background-color: rgb(145, 145, 145);
}

.u-list {
    list-style: none;
    background-color: darkorange;
    padding: 10px;
}


.row {
    padding: 0%;
    height: 200px;
}

#scroll-side{
    position: relative;
    height: 400px;
    overflow-y: scroll;
    float: left;
    padding: 0px;
    background-color: rgba(255, 140, 0);

}

#image-row{
    height: auto;
    background-color: rgba(139, 139, 139, 0.199);
    bottom: 0px;
    display: inline-block;
    padding: 15px;
    border: none;
}
#image-row img{
    height: 200px;
}

.flex-nowrap{
    height: auto;
}

.col-8 {
    position: relative;
    height: 400px;
    overflow-y: scroll;
    float: right;
}

nav {
    width: 100%;
    padding: 10px;
}
article{
    background-color: rgb(153, 153, 153);
    padding:20px;
}

article img {
    float: right;
    height: 100px;
    width: 100px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    border: 35px solid darkorange;
    background-color: darkorange;
}

#carousel-animation {
    width: 50%;
    left: 25%;
    border-style: solid;
    border-color: rgba(21, 43, 43, 0.349);
}

.list-group-item-dark{
    border: 0 none;
    background-color: rgba(255, 140, 0, 0);

}

.carousel-inner {
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    opacity: 90%;
    display: inline-block;
}

h4{
    text-align: left;
}

.scrollbox{
    padding: 0px;
    background-color: rgba(255, 140, 0, 0.589);

}

#weather-widget{
    text-align: right;
}

.new-snow{
    float: left;
}
.conditions{
    float: right;
}

#dl-images img{
    height: 940px;
}