
<h1>GET Request Received</h1>
<table border="1px">
    <tr>
        <th>Parameter</th>
        <th>Value</th>
	</tr>
  {{#each params}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
	  </tr>
  {{/each}}
</table>